public/resources/config/node-red-author-sentiment-config
[
    {
        "id": "5e7afa80.525f64",
        "type": "inject",
        "z": "54ec5dd3.f03f64",
        "name": "Injeção de mensagens",
        "topic": "Trigger",
        "payload": "",
        "payloadType": "date",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "x": 149,
        "y": 104,
        "wires": [
            [
                "bfa64404.661128"
            ]
        ]
    },
    {
        "id": "bfa64404.661128",
        "type": "http request",
        "z": "54ec5dd3.f03f64",
        "name": "Request HTTP para as mensagens",
        "method": "GET",
        "ret": "obj",
        "url": "https://ads-webchat.herokuapp.com/messages",
        "tls": "",
        "x": 191,
        "y": 165,
        "wires": [
            [
                "52da3c18.d1bf24"
            ]
        ]
    },
    {
        "id": "52da3c18.d1bf24",
        "type": "function",
        "z": "54ec5dd3.f03f64",
        "name": "Segrega mensagens por usuário",
        "func": "var msgs = [];\n\nfor(var i = 0; i < msg.payload.length ; i++){\n    var message = {};\n    var hasAuthor = false;\n    \n    for(var j = 0; j < msgs.length; j++){\n        if(msg.payload[i].authorUser.indexOf(msgs[j].authorUser) != -1){\n            msgs[j].payload += \" \"+msg.payload[i].content;\n            hasAuthor = true;\n            break;\n        }\n    }\n    \n    if(!hasAuthor){\n        message.authorUser = msg.payload[i].authorUser;\n        message.authorEmail = msg.payload[i].authorEmail;\n        message.date = msg.payload[i].date;\n        message.payload = msg.payload[i].content;\n        \n        msgs.push(message);\n    }\n}\n\nreturn [ msgs ];",
        "outputs": 1,
        "noerr": 0,
        "x": 184,
        "y": 230,
        "wires": [
            [
                "5ebabd98.3c5984"
            ]
        ]
    },
    {
        "id": "5ebabd98.3c5984",
        "type": "sentiment",
        "z": "54ec5dd3.f03f64",
        "name": "Análise de sentimento",
        "x": 376,
        "y": 330,
        "wires": [
            [
                "16c235ea.570a3a",
                "cf9c30b3.5b91e",
                "2a649a3.58e3766"
            ]
        ]
    },
    {
        "id": "16c235ea.570a3a",
        "type": "function",
        "z": "54ec5dd3.f03f64",
        "name": "Verificar Sentimento e Montar e-mail",
        "func": "if(msg.sentiment.score < -2){\n    var message = {};\n    message.payload = msg.authorUser + \", você está muito estressadinho, aí vai um vídeo de um catiorineo para esfriar a cabeça.\\nhttps://www.youtube.com/watch?v=QGcACsZtFEM\";\n    message.topic = \"Verificamos que você anda meio raivoso, SR. \"+msg.authorUser + \"!\";\n    message.to = msg.authorEmail;\n}\n\nif(message){\n    return message;    \n}",
        "outputs": 1,
        "noerr": 0,
        "x": 582,
        "y": 253,
        "wires": [
            [
                "4723a297.b7e47c"
            ]
        ]
    },
    {
        "id": "4723a297.b7e47c",
        "type": "e-mail",
        "z": "54ec5dd3.f03f64",
        "server": "smtp.gmail.com",
        "port": "465",
        "name": "",
        "dname": "Avisa que o moleque tá mal",
        "x": 611,
        "y": 146,
        "wires": []
    },
    {
        "id": "cf9c30b3.5b91e",
        "type": "debug",
        "z": "54ec5dd3.f03f64",
        "name": "Debugger de payload",
        "active": true,
        "console": "false",
        "complete": "sentiment.score",
        "x": 665,
        "y": 328,
        "wires": []
    },
    {
        "id": "28b9efdb.693a6",
        "type": "serial out",
        "z": "54ec5dd3.f03f64",
        "name": "Arduino",
        "serial": "978ced52.6ca9b",
        "x": 580,
        "y": 511,
        "wires": []
    },
    {
        "id": "2a649a3.58e3766",
        "type": "function",
        "z": "54ec5dd3.f03f64",
        "name": "Repasse de valor de sentimento",
        "func": "var valorFinal = {};\n\nvalorFinal.payload = msg.sentiment.score;\n\nreturn valorFinal;",
        "outputs": 1,
        "noerr": 0,
        "x": 584,
        "y": 408,
        "wires": [
            [
                "28b9efdb.693a6"
            ]
        ]
    },
    {
        "id": "978ced52.6ca9b",
        "type": "serial-port",
        "z": "",
        "serialport": "COM3",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]