public/resources/config/node-red-author-sentiment-config
[{"id":"495bff05.f5a5e","type":"tab","label":"Flow 1"},{"id":"aa13fcaf.ea99e8","type":"inject","z":"495bff05.f5a5e","name":"Injeção de mensagens","topic":"Trigger","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":188,"y":57,"wires":[["92edeb87.dc84f"]]},{"id":"92edeb87.dc84f","type":"http request","z":"495bff05.f5a5e","name":"Request HTTP para as mensagens","method":"GET","ret":"obj","url":"http://ads-webchat.herokuapp.com/messages","tls":"","x":508,"y":56,"wires":[["8cd34b5.d60a8b8"]]},{"id":"8cd34b5.d60a8b8","type":"function","z":"495bff05.f5a5e","name":"Segrega mensagens por usuário","func":"var msgs = [];\n\nfor(var i = 0; i < msg.payload.length ; i++){\n    var message = {};\n    var hasAuthor = false;\n    \n    for(var j = 0; j < msgs.length; j++){\n        if(msg.payload[i].authorUser.indexOf(msgs[j].authorUser) != -1){\n            msgs[j].payload += \" \"+msg.payload[i].content;\n            hasAuthor = true;\n            break;\n        }\n    }\n    \n    if(!hasAuthor){\n        message.authorUser = msg.payload[i].authorUser;\n        message.authorEmail = msg.payload[i].authorEmail;\n        message.date = msg.payload[i].date;\n        message.payload = msg.payload[i].content;\n        \n        msgs.push(message);\n    }\n}\n\nreturn [ msgs ];","outputs":1,"noerr":0,"x":228,"y":128,"wires":[["c4bc38dd.bab7b8"]]},{"id":"c4bc38dd.bab7b8","type":"sentiment","z":"495bff05.f5a5e","name":"Análise de sentimento","x":555,"y":128,"wires":[["2b6d0f2b.e283e","384b2940.f6898e"]]},{"id":"2b6d0f2b.e283e","type":"function","z":"495bff05.f5a5e","name":"Verificar Sentimento e Montar e-mail","func":"if(msg.sentiment.score < -2){\n    var message = {};\n    message.payload = msg.authorUser + \", você está muito estressadinho, aí vai um vídeo de um catiorineo para esfriar a cabeça.\\nhttps://www.youtube.com/watch?v=QGcACsZtFEM\";\n    message.topic = \"Verificamos que você anda meio raivoso, SR. \"+msg.authorUser + \"!\";\n    message.to = msg.authorEmail;\n}\n\nif(message){\n    return message;    \n}","outputs":1,"noerr":0,"x":196,"y":270,"wires":[["c968638.39b7f2"]]},{"id":"8b6853e4.30e16","type":"e-mail","z":"495bff05.f5a5e","server":"smtp.gmail.com","port":"465","name":"","dname":"Avisa que o moleque tá mal","x":647,"y":331,"wires":[]},{"id":"a1f2a9bb.a7a53","type":"debug","z":"495bff05.f5a5e","name":"Debugger de payload","active":true,"console":"false","complete":"payload","x":475,"y":391,"wires":[]},{"id":"c968638.39b7f2","type":"debug","z":"495bff05.f5a5e","name":"Debugger do objeto inteiro","active":true,"console":"false","complete":"true","x":238,"y":437,"wires":[]},{"id":"5901738f.1d1194","type":"serial out","z":"495bff05.f5a5e","name":"Output do Arduino","serial":"be7810a7.17f818","x":656,"y":509,"wires":[]},{"id":"384b2940.f6898e","type":"function","z":"495bff05.f5a5e","name":"Repasse de valor de sentimento","func":"var valorFinal = {};\n\nvalorFinal.payload = msg.sentiment.score;\n\nreturn valorFinal;","outputs":1,"noerr":0,"x":492,"y":250,"wires":[["a1f2a9bb.a7a53"]]},{"id":"be7810a7.17f818","type":"serial-port","z":"","serialport":"COM3","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]
